* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

footer {
  background-color: #F6F1EB;   
  color: #000000;              
  padding: 100px 0 40px 0;
  text-align: center;
  border-top: 1px solid #000000; 
  font-family: 'Spectral SC', serif;
}

footer .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer h1 {
  font-family: 'The Nautigal', cursive;
  font-size: 70px;
  color: #000000; 
  font-weight: normal;
  margin-bottom: 10px;
  position: relative;
  z-index: 2; /* garante que o texto fique acima da linha */
}

/* linha abaixo do texto */
footer .linha-meio {
  border: none;
  height: 2px;
  background-color: #000; 
  width: 80%;        
  margin: 10px auto 20px auto; 
  position: relative;
  z-index: 1;
}

/* texto pequeno */
footer h2 {
  font-size: 18px;
  color: #000000; 
  font-weight: normal;
  margin-top: 10px;
}

footer .social-icons a {
  display: flex;
  overflow: visible; 
  align-items: center;
  justify-content: center;
}


footer .social-icons {
  height: 40px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

footer .social-icons img {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

footer .social-icons img:hover {
  transform: scale(1.2);
  opacity: 1;
}
