*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    text-decoration: none;
}

/* fontes do google fonts */
.the-nautigal-regular {
  font-family: "The Nautigal", cursive;
  font-weight: 200;
  font-style: normal;
  font-weight: normal;
}
.spectral-sc-extralight {
  font-family: "Spectral SC", serif;
  font-weight: 200;
  font-style: normal;
}

header {    
    background-image: url('../assets/imagens-header/image/header-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border-bottom: 1px solid #000000;
    width: 100%;
    height: 400px;

    .logo {
    align-items: center;
    justify-content: center;
    left: 2000px;
    width: 1900px;
    right: 20px;

}

.logo {
  position: absolute;   
  left: 200px;  
  top: 35px;       
}

.logo img {
  width: 290px;            
  height: 290px;           
  object-fit: cover;        
  border: 2px solid #eed7d6 ;   
  border-radius: 50%;       
  display: block;           
}

h1 {
    font-family: 'The Nautigal', cursive;
    position: absolute;
    top: 30px;
    text-align: center;
    font-size: 125px;
    align-self: normal;
    color: #000000; 
    width: 100%;
    font-style: normal;
    font-weight: normal;
    left: 350px;
}

  h2 {
    font-family: 'Spectral SC', cursive;
    position: absolute;
    top: 170px;
    text-align: center;
    font-size: 30px;
    align-self: normal;
    color: #000000; 
    width: 100%;
    font-style: normal;
    font-weight: normal;
    left: 500px;
}
}

.classe-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 330px; 
  right: 195px;
  background-color: #eed7d6;
  color: rgb(255, 255, 255);
  padding: 12px 0;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-weight: 600;
  width: 10%;
}
